<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	{% block stylesheets %}
		{{ block.super }}
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	{% endblock stylesheets %}

	{% block scripts %}
		{{ block.super }}
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
	{% endblock scripts %}
</head>
<body>
	{% block content %}
	{% endblock content %}

	{% block body_scripts %}
	{% endblock body_scripts %}
</body>
</html>
